body {
    margin: 0px;
    padding: 0px;

}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #273b47;
}

header img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.login-container-social img {
    width: 30px;
    height: 30px;
}