body {
    margin: 0px;
    background-color:#5E1DFC ;
}

header {
    background-color: #5E1DFC;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;

}

.header__menu {
    margin-right: 30px;
}


.header__menu ul {
    list-style: none;
    display: none;
    position: absolute;
    padding: 0px;
    width: 100px;
    text-align: right;
    margin: 0px, 0px, 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a { 
    text-decoration: none;
    color: white;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    /* width: 40px; */
    align-items: center;
    /* justify-content: center; */
    display: flex;
    cursor: pointer;
}

.header__menu--profile img {
    width: 30px;
    /* height: 30px; */
    margin-right: 8px;
}

.header__menu--profile p {
    color: white;
    margin: 0px;
}